{
  "plugins": ["babel-plugin-styled-components"],
  "presets": [
    ["react-app", { "absoluteRuntime": false }],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "require-context-hook",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "@config": "./src/config",
              "@modules": "./src/modules",
              "@store": "./src/store"
            }
          }
        ]
      ]
    }
  }
}
